{{ define "content"}}

<div role="main" class="main">

    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center order-1">

                </div>
            </div>
        </div>
    </section>

    <div class="container py-4">

        <div class="row">
            <div class="col-lg-3 order-lg-2">
                <aside class="sidebar">
                    <form action="page-search-results.html" method="get">
                        <div class="input-group mb-3 pb-1">
                            <input class="form-control text-1" placeholder="Search..." name="s" id="s" type="text">
                            <button type="submit" class="btn btn-dark text-1 p-2"><i
									class="fas fa-search m-2"></i></button>
                        </div>
                    </form>
                    <h5 class="font-weight-semi-bold pt-4">类别</h5>
                    <ul class="nav nav-list flex-column mb-5">
                        <li class="nav-item"><a class="nav-link" href="#">学习</a></li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">生活</a>
                            <ul>
                                <li class="nav-item"><a class="nav-link" href="#">宠物</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#">运动</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">美食</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">照片</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">视频</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">经历</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">校园</a></li>
                    </ul>
                    <div class="tabs tabs-dark mb-4 pb-2">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link show active text-1 font-weight-bold text-uppercase" href="#popularPosts" data-bs-toggle="tab">Popular</a></li>
                            <li class="nav-item"><a class="nav-link text-1 font-weight-bold text-uppercase" href="#recentPosts" data-bs-toggle="tab">Recent</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="popularPosts">
                                <ul class="simple-post-list">
                                    <li>
                                        <div class="post-image">
                                            <div class="img-thumbnail img-thumbnail-no-borders d-block">
                                                <a href="blog-post.html">
                                                    <img src="/assets/frontend/img/blog/square/blog-11.jpg" width="50" height="50" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-info">
                                            <a href="blog-post.html">Nullam Vitae Nibh Un Odiosters</a>
                                            <div class="post-meta">
                                                Nov 10, 2022
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post-image">
                                            <div class="img-thumbnail img-thumbnail-no-borders d-block">
                                                <a href="blog-post.html">
                                                    <img src="/assets/frontend/img/blog/square/blog-24.jpg" width="50" height="50" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-info">
                                            <a href="blog-post.html">Vitae Nibh Un Odiosters</a>
                                            <div class="post-meta">
                                                Nov 10, 2022
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post-image">
                                            <div class="img-thumbnail img-thumbnail-no-borders d-block">
                                                <a href="blog-post.html">
                                                    <img src="/assets/frontend/img/blog/square/blog-42.jpg" width="50" height="50" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-info">
                                            <a href="blog-post.html">Odiosters Nullam Vitae</a>
                                            <div class="post-meta">
                                                Nov 10, 2022
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="recentPosts">
                                <ul class="simple-post-list">
                                    <li>
                                        <div class="post-image">
                                            <div class="img-thumbnail img-thumbnail-no-borders d-block">
                                                <a href="blog-post.html">
                                                    <img src="/assets/frontend/img/blog/square/blog-24.jpg" width="50" height="50" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-info">
                                            <a href="blog-post.html">Vitae Nibh Un Odiosters</a>
                                            <div class="post-meta">
                                                Nov 10, 2022
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post-image">
                                            <div class="img-thumbnail img-thumbnail-no-borders d-block">
                                                <a href="blog-post.html">
                                                    <img src="/assets/frontend/img/blog/square/blog-42.jpg" width="50" height="50" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-info">
                                            <a href="blog-post.html">Odiosters Nullam Vitae</a>
                                            <div class="post-meta">
                                                Nov 10, 2022
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post-image">
                                            <div class="img-thumbnail img-thumbnail-no-borders d-block">
                                                <a href="blog-post.html">
                                                    <img src="/assets/frontend/img/blog/square/blog-11.jpg" width="50" height="50" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-info">
                                            <a href="blog-post.html">Nullam Vitae Nibh Un Odiosters</a>
                                            <div class="post-meta">
                                                Nov 10, 2022
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h5 class="font-weight-semi-bold pt-4">About Us</h5>
                    <h5 class="font-weight-semi-bold pt-4">关于我们</h5>
                    <p>一种个人在网上发布的平台，通常用于记录个人的生活、思考和学习内容。它可以包含文字、图片、视频等多种形式的文章和内容。个人博客由博主自行维护，有时也可能依赖于专门的博客服务商来提供支持。博客帮助博主建立个人品牌，并作为一种交流平台，使他们能够与其他人分享自己的想法和生活经验。
                    </p>
                    <h5 class="font-weight-semi-bold pt-4">最新消息来自twitter</h5>
                    <div id="tweet" class="twitter mb-4" data-plugin-tweets data-plugin-options="{'username': 'oklerthemes', 'count': 2}">
                        <p>请稍等...</p>
                    </div>
                    <h5 class="font-weight-semi-bold pt-4">图片来自 Instagram</h5>
                    <div class="instagram-feed" data-type="nomargins" class="标签mb-4 pb-1"></div>
                    <h5 class="font-weight-semi-bold pt-4 mb-2"></h5>
                    <div class="mb-3 pb-1">
                        <a href="#"><span
								class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1">设计</span></a>
                        <a href="#"><span
								class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1">品牌</span></a>
                        <a href="#"><span
								class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1">视频</span></a>
                        <a href="#"><span
								class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1">业务</span></a>
                        <a href="#"><span
								class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1">旅游</span></a>
                    </div>
                    <h5 class="font-weight-semi-bold pt-4">在Facebook上找到我们</h5>
                    <div class="fb-page" data-href="https://www.facebook.com/OklerThemes/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/OklerThemes/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/OklerThemes/">Okler 主题</a></blockquote>
                    </div>
                </aside>
            </div>
            <div class="col-lg-9 order-lg-1">
                <div class="blog-posts single-post">

                    <article class="post post-large blog-single-post border-0 m-0 p-0">
                        <div class="post-image ms-0">
                            <a href="blog-post.html">
                                <img src="/assets/frontend/img/blog/wide/blog-11.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                            </a>
                        </div>

                        <div class="post-date ms-0">
                            <span class="day">10</span>
                            <span class="month">Jan</span>
                        </div>

                        <div class="post-content ms-0">

                            <h2 class="font-weight-semi-bold"><a href="blog-post.html">{{.post.Title}}</a></h2>

                            <div class="post-meta">
                                <span><i class="far fa-user"></i> By <a href="#">ZJH</a> </span>
                                <span><i class="far fa-folder"></i> <a href="#">生活方式</a>, <a href="#">设计</a>
								</span>
                                <span><i class="far fa-comments"></i> <a href="#">12评论</a></span>
                            </div>


                            <div class="markdown-body editormd-preview-container">
                                <p>{{.content}}</p>
                            </div>




                            <div class="post-block mt-5 post-share">
                                <h4 class="mb-3">分享这篇文章</h4>

                                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                <div class="addthis_inline_share_toolbox"></div>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-60ba220dbab331b0"></script>

                            </div>

                            <div class="post-block mt-4 pt-2 post-author">
                                <h4 class="mb-3">作者</h4>
                                <div class="img-thumbnail img-thumbnail-no-borders d-block pb-3">
                                    <a href="blog-post.html">
                                        <img src="/assets/frontend/img/avatars/avatar.jpg" alt="">
                                    </a>
                                </div>
                                <p><strong class="name"><a href="#" class="text-4 pb-2 pt-2 d-block">John
											Doe</a></strong></p>
                                <p>这篇文章是我最近通过学习go-zero微服务框架，总结的一些知识命令，go-zero 是一个集成了各种工程实践的 web 和 rpc 框架。通过弹性设计保障了大并发服务端的稳定性，经受了充分的实战检验。 go-zero 包含极简的 API 定义和生成工具 goctl，可以根据定义的 api 文件一键生成 Go, iOS, Android, Kotlin, Dart, TypeScript, JavaScript 代码，并可直接运行。
                                    </p>
                            </div>
                            <div id="comments" class="post-block mt-5 post-comments">
                                <h4 class="mb-3">评论 (3)</h4>

                                <ul class="comments">
                                    <li>
                                        <div class="comment">
                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                <img class="avatar" alt="" src="/assets/frontend/img/avatars/avatar-2.jpg">
                                            </div>
                                            <div class="comment-block">
                                                <div class="comment-arrow"></div>
                                                <span class="comment-by">
													<strong>John Doe</strong>
													<span class="float-end">
														<span> <a href="#"><i class="fas fa-reply"></i> Reply</a></span>
                                                </span>
                                                </span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis
                                                    enim ornare nisi, vitae mattis nulla ante id dui.</p>
                                                <span class="date float-end">January 12, 2022 at 1:38 pm</span>
                                            </div>
                                        </div>

                                        <ul class="comments reply">
                                            <li>
                                                <div class="comment">
                                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                        <img class="avatar" alt="" src="/assets/frontend/img/avatars/avatar-3.jpg">
                                                    </div>
                                                    <div class="comment-block">
                                                        <div class="comment-arrow"></div>
                                                        <span class="comment-by">
															<strong>John Doe</strong>
															<span class="float-end">
																<span> <a href="#"><i class="fas fa-reply"></i>
																		Reply</a></span>
                                                        </span>
                                                        </span>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                                        <span class="date float-end">January 12, 2022 at 1:38 pm</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="comment">
                                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                        <img class="avatar" alt="" src="/assets/frontend/img/avatars/avatar-4.jpg">
                                                    </div>
                                                    <div class="comment-block">
                                                        <div class="comment-arrow"></div>
                                                        <span class="comment-by">
															<strong>John Doe</strong>
															<span class="float-end">
																<span> <a href="#"><i class="fas fa-reply"></i>
																		Reply</a></span>
                                                        </span>
                                                        </span>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                                        <span class="date float-end">January 12, 2022 at 1:38 pm</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="comment">
                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                <img class="avatar" alt="" src="/assets/frontend/img/avatars/avatar.jpg">
                                            </div>
                                            <div class="comment-block">
                                                <div class="comment-arrow"></div>
                                                <span class="comment-by">
													<strong>John Doe</strong>
													<span class="float-end">
														<span> <a href="#"><i class="fas fa-reply"></i> Reply</a></span>
                                                </span>
                                                </span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <span class="date float-end">January 12, 2022 at 1:38 pm</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comment">
                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                <img class="avatar" alt="" src="/assets/frontend/img/avatars/avatar.jpg">
                                            </div>
                                            <div class="comment-block">
                                                <div class="comment-arrow"></div>
                                                <span class="comment-by">
													<strong>John Doe</strong>
													<span class="float-end">
														<span> <a href="#"><i class="fas fa-reply"></i> Reply</a></span>
                                                </span>
                                                </span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <span class="date float-end">January 12, 2022 at 1:38 pm</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                            <div class="post-block mt-5 post-leave-comment">
                                <h4 class="mb-3">Leave a comment</h4>

                                <form class="contact-form p-4 rounded bg-color-grey" action="php/contact-form.php" method="POST">
                                    <div class="p-2">
                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label class="form-label required font-weight-bold text-dark">Full
													Name</label>
                                                <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" required>
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label class="form-label required font-weight-bold text-dark">Email
													Address</label>
                                                <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col">
                                                <label class="form-label required font-weight-bold text-dark">Comment</label>
                                                <textarea maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" name="message" required></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col mb-0">
                                                <input type="submit" value="Post Comment" class="btn btn-primary btn-modern" data-loading-text="Loading...">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </article>

                </div>
            </div>
        </div>

    </div>

</div>

{{end}}