<footer id="footer">
    <div class="container">
        <div class="footer-ribbon">
            <span>Get in Touch</span>
        </div>
        <div class="row py-5 my-4">
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <h5 class="text-3 mb-3">关于博客</h5>
                <p>一种个人在网上发布的平台，通常用于记录个人的生活、思考和学习内容。</p>
                <p class="mb-2">它可以包含文字、图片、视频等多种形式的文章和内容。个人博客由博主自行维护，有时也可能依赖于专门的博客服务商来提供支持...</p>
                <p class="mb-0"><a href="#" class="btn-flat btn-xs text-color-light p-relative top-5"><strong class="text-2">查看更多</strong><i class="fas fa-angle-right p-relative top-1 ps-2"></i></a></p>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                <h5 class="text-3 mb-3">最近的帖子</h5>
                <ul class="list-unstyled mb-0">
                    <li class="d-flex mb-3 pb-1">
                        <article class="d-flex">
                            <a href="#">
                                <img class="me-3 rounded-circle" src="img/office/our-office-4-square.jpg" alt="" style="max-width: 70px;">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    <h6 class="text-3 text-color-light opacity-8 ls-0 mb-1">更新了Grpc的学习记录</h6>
                                    <p class="text-2 mb-0">13:22 2023-12-01</p>
                                </a>
                            </div>
                        </article>
                    </li>
                    <li class="d-flex">
                        <article class="d-flex">
                            <a href="#">
                                <img class="me-3 rounded-circle" src="img/office/our-office-5-square.jpg" alt="" style="max-width: 70px;">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    <h6 class="text-3 text-color-light opacity-8 ls-0 mb-1">更新了Redis知识</h6>
                                    <p class="text-2 mb-0">10:33 2023-11-29</p>
                                </a>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-md-0">
                <h5 class="text-3 mb-3">最近的评论</h5>
                <ul class="list-unstyled mb-0">
                    <li class="mb-3 pb-1">
                        <a href="#">
                            <p class="text-3 text-color-light opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong class="ms-2">ZJH</strong> 评论： <strong class="text-color-primary">Vue前端框架是现在流行的前端三大框架之一</strong></p>
                            <p class="text-2 mb-0">16:32 2023-12-05</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="text-3 text-color-light opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong class="ms-2">ZJH</strong> 评论： <strong class="text-color-primary"> Redis的出现，在分场合可以对关系数据库起到很好的补充作用。</strong></p>
                            <p class="text-2 mb-0">12:55 2023-11-11</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-2">
                <h5 class="text-3 mb-3">类别</h5>
                <p>
                    <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">技术</span></a>
                    <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">摄影</span></a>
                    <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">生活方式</span></a>
                    <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">时尚</span></a>
                    <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">食谱</span></a>
                    <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">旅行</span></a>
                    <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">商业</span></a>
                    <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">建设设计</span></a>
                    <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">综述</span></a>
                    <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">运动</span></a>
                    <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">视频</span></a>
                    <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">科技</span></a>
                    <a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">设计</span></a>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
                    <a href="index.html" class="logo pe-0 pe-lg-3">
                        <img alt="Porto Website Template" src="/assets/frontend/img/logo-footer2.png" class="opacity-5" height="32">
                    </a>
                </div>
                <div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
                    <p>Copyright © 2023 golang技术栈.</p>
                </div>
                <div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
                    <nav id="sub-menu">
                        <ul>
                            <li><i class="fas fa-angle-right"></i><a href="page-faq.html" class="ms-1 text-decoration-none"> 常见问题</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="sitemap.html" class="ms-1 text-decoration-none"> 网站地图</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="contact-us.html" class="ms-1 text-decoration-none"> 联系我们</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>