{{ define "content"}}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Starter Page</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">golang技术</h5>

                            <p class="card-text">
                                Go语言的最大优势就是执行速度和开发效率都很出色，而且从语言级别上支持并发。
                            </p>

                            <a href="#" class="card-link">golang介绍</a>
                            <a href="#" class="card-link">参试一个go</a>
                        </div>
                    </div>

                    <div class="card card-primary card-outline">
                        <div class="card-body">
                            <h5 class="card-title">go-zero微服务框架</h5>

                            <p class="card-text">
                                Go-Zero提供了很多微服务组件，包括RPC调用、流控、服务注册等等，适用于复杂微服务系统的开发。
                            </p>
                            <a href="#" class="card-link">学习go-zero</a>
                            <a href="#" class="card-link">go-zero原理</a>
                        </div>
                    </div>
                    <div class="card card-primary card-outline">
                        <div class="card-body">
                            <h5 class="card-title">MySQL数据库</h5>

                            <p class="card-text">
                                MySQL是一种关联数据库管理系统，将数据保存在不同的表中，而不是将所有数据放在一个大仓库内，这样就增加了速度并提高了灵活性。
                            </p>
                            <a href="#" class="card-link">使用MySQL</a>
                            <a href="#" class="card-link"></a>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-md-6 -->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">Vue前端框架</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Vue介绍</h6>

                            <p class="card-text">Vue.js是一个MVVM架构的库，是一套构建用户界面的渐进式轻量级JavaScript框架。它以数据驱动和组件化的思想构建。</p>
                            <a href="#" class="btn btn-primary">Vue诞生的历程</a>
                        </div>
                    </div>

                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="m-0">SpringBoot</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Springboot</h6>

                            <p class="card-text">SpringBoot是一个开发基于Spring框架的应用的快速开发框架，它也是SpringCloud构建微服务分布式系统的基础设施。</p>
                            <a href="#" class="btn btn-primary">探讨SpringBoot</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
{{end}}